doctype html 
html(lang="fr")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Teaser de One Piece 
    body 
        header.header
            ul.header_menu
                li.menu_item 
                    a(href="#").menu_link Accueil
                li.menu_item
                    a(href="#").menu_link Histoire
                li.menu_item
                    a(href="#").menu_link Personnages 