doctype html 
html(lang="fr")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Teaser de One Piece 
        link(rel='stylesheet', href='assets/scss/style.scss')
    body 
        header.header
            a(href='#welcome')
                img(src="assets/img/one-piece-logo.png", alt="").header__logo
            ul.header__menu
                li.menu_item
                    a(href="#teaser").menu__link Histoire
                li.menu_item
                    a(href="#equipage").menu__link Personnages 