main 
    section.teaser
        h2 Teasing
        p zvuihvuqgvi givzigvizgacvzhachzahivhzfizfzyiyiizhiahcizxuiahh uicga
    
    section.equipage 
        .luffy 
            img(src="/assets/img/luffy.png" alt="le personnage principal")
            h3 Luffy
            p je mange beaucoup
