main 
    section.teaser
        h2 Teasing
        p zvuihvuqgvi givzigvizgacvzhachzahivhzfizfzyiyiizhiahcizxuiahh uicga
    
    section.equipage 
        article.luffy 
            img(src="assets/img/luffy.png" alt="le personnage principal nommé Monkey D. Luffy")
            h3 Luffy
            p Je mange beaucoup.

        article.zoro 
            img(src="#" alt ="Son premier coéquipier le sabreur Roronoa Zoro")
            h3 Zoro 
            p Même avec une boussole je me perds tout le temps.

        
